<header>
  <a
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    ariaCurrentWhenActive="page"
  >
    <h1>{{ title }}</h1>
  </a>
  <nav class="headerLinks">
    <ul>
      <li>
        <a
          routerLink=""
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ariaCurrentWhenActive="page"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="/contact"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Contact</a
        >
      </li>
      <!-- <a routerLink="/comingSoon">Bible</a>
      <a routerLink="/comingSoon">Games</a>
      <a routerLink="/comingSoon">Contact</a>
      <a routerLink="/comingSoon">Donate</a> -->
    </ul>
  </nav>
</header>
<main class="main">
  <router-outlet />
</main>
<script src="http://cdn.scripture.api.bible/fums/fumsv2.min.js"></script>
<!-- <footer>
  <p>© 2021</p>
</footer> -->
