/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  font-size: 100%;
  background: hsla(79, 68%, 18%, 1);
  background-repeat: no-repeat;

  background: linear-gradient(
    45deg,
    hsla(79, 68%, 18%, 1) 0%,
    hsla(91, 19%, 53%, 1) 100%
  );
  background-repeat: no-repeat;

  background: -moz-linear-gradient(
    45deg,
    hsla(79, 68%, 18%, 1) 0%,
    hsla(91, 19%, 53%, 1) 100%
  );
  background-repeat: no-repeat;

  background: -webkit-linear-gradient(
    45deg,
    hsla(79, 68%, 18%, 1) 0%,
    hsla(91, 19%, 53%, 1) 100%
  );
  background-repeat: no-repeat;

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#3A4E0F", endColorstr="#859D6F", GradientType=1 );
}
